/* ZEINA - i added a class for the button elements under the search history so I can target them easier */
/* the class is .history_item */

*, .btn{
  font-family: 'Gruppo', cursive;
}

header {
  background-color: #731DD8;
}

.row {
  margin: 0px;
  /* removes a default padding below search input */
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 86px;
}

nav {
  background-color: #D4B483;
  height: 40px;
}

.no-padding {
  padding: 0px;
  /* removes default padding from nav-card */
}

nav .input-field label i {
  /* sets search icon to be displayed */
  color: black;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#search{
  background-color: white;
}

#search-form {
  padding-left: 10px;
}

#search-form input {
  /* makes search bar much prettier */
  border-radius: 10px;
  height: 30px;
}

#search-form i {
  height: 30px;
  line-height: 30px;
  /* positions search icon */
}

#search-form button {
  /* makes search btn much prettier */
  border-radius: 10px;
  height: 30px;
  margin-left: 15px;
}

.nav-card .btn {
  border-radius: 10px;
  height: 30px;
  margin-left: 15px;
  background-color: red;
}

.nav-card {
  height: calc(100vh - 150px);
  /* makes nav-car (search history) full height of page */
  padding: 0px;
}

.history{
  background-color: #48A9A6;
}

.history_item{
  background-color: #D4B483;
  color: white;
  border-radius: 10px;
  height: 30px;
  margin-left: 15px;
}

.short-list{
  background-color: #C1666B;
}

/* .nav-container{
  display: flex;
  justify-content: space-between;
} */

li {
  list-style: none;
  padding-left: 10px;
  line-height: 40px;
  /* sets distance between a tags */
}

.card-title {
  text-align: center;
  margin: 0;
  /* removes space between nav-card and search input */
  font-size: 26px;
  padding-bottom: 10px;
  color: black;
}

body{
  background-color: #E4DFDA;
}

.flex-container {
  /* flexbox for movies */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card .card-image .card-title {
  /* card-title had a default position: absolute; */
  position: unset;
}

.card {
  /* helps with spacing of cards (posters) */
  width: calc(25% - 20px);
  margin: 10px;
}

.card .btn,
.btn-small i.material-icons {
  /* styles the thumbs up */
  background-color: white;
  color: blue;
}

.heart {
  box-shadow: none;
}

footer {
  background-color: #731DD8
}

h5 {
  font-size: 18px;
  text-align: center;
  margin: 0;
}
