*,
.btn {
  font-family: 'Gruppo', cursive;
  font-weight: bold;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  line-height: 1;
}

header {
  background-color: #731DD8;
  padding-bottom: 10px;
  text-align: center;
}

nav {
  background-color: #D4B483;
  height: 60px;


}


.form-container {
  padding-top: 12px;
}

.row {
  margin: 0px;
}

h1 {

  margin: 0;
  font-size: 86px;
}

h2 {
  font-weight: bold;
}

.choiceTitle-container {
  text-align: center;
}

#choiceTitle {
  margin-top: 15px;
  text-align: center;
}

.main-container {
  display: flex;
}

.history-container {
  background-color: #48A9A6;
  text-align: center;
  padding: 15px;
}

.short-list-container {
  background-color: #C1666B;
  text-align: center;
  padding: 15px;

}

#short-list {
  text-align: left;
}

.no-padding {
  padding: 0px;
  /* removes default padding from nav-card */
}

#search {
  background-color: white;
}

#search-form {
  padding-left: 10px;
}

#search-form input {
  /* makes search bar much prettier */
  border-radius: 6px;
  height: 30px;
}

#search-form button {
  /* makes search btn much prettier */
  border-radius: 6px;

  margin-left: 15px;
}

.clear-btn {
  border-radius: 6px;
  background-color: #731DD8;
  color: white;
  margin-bottom: 20px;
  padding: 5px;
  cursor: pointer;

}

.clear-btn:hover {
  filter: brightness(110%);
}

.fav-btn,
.history_item {
  background-color: #D4B483;
  color: white;
  border-radius: 6px;
  height: auto;
  margin: 5px;
  padding: 5px;
  cursor: pointer;

}

.fav-btn:hover,
.history_item:hover {
  filter: brightness(110%);

}

.delete-fab-btn,
.delete-btn {
  padding: 2px 5px;
  background-color: #E4DFDA;
  cursor: pointer;
  border-radius: 6px;
}

.delete-btn {
  margin-left: 2px;
}



.card-title {
  font-size: 46px;
  color: black;
  margin-top: 0;
  margin-bottom: 10px;
}

body {
  background-color: #E4DFDA;
}

.flex-container {
  /* flexbox for movies. Needed! */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card .card-image .card-title {
  /* card-title had a default position: absolute; */
  position: unset;
  color: black;
  font-weight: bold;
}

.card {
  /* helps with spacing of posters within cards. needed! */
  width: calc(25% - 20px);
  margin: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; */
}

#choiceTitle {
  /* keeps movies below title */
  width: 100%;
}

#home-btn {
  position: relative;
  right: -8%;
}

#moviepage {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* big movie page */
.titlecard {
  background-color: white;
  /* flex positions the poster */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}

.titlecard img {
  /* reduces width of poster */
  object-fit: scale-down;
}

h3 {
  margin: -0.053333rem 0 1.168rem 0;
  text-align: center;
}

p {
  font-size: 125%;
}

.clicked-fav {
  color: #C1666B;
}


/* .pageload{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
} */

/* .container {
  display: flex;
  flex-direction: column;
}

.short-list {
  order: 1;
}

.flex-container {
  order: 2;
} */

@media screen and (max-width: 768px) {

  .no-padding,
  .pageload {
    display: flex;
    flex-direction: column;

  }

  .short-list {
    order: 1;

  }

  .flex-container {
    order: 2;
    float: left;
    justify-content: flex-start;
    width: 100%;
  }
}